<!DOCTYPE html>
{% load staticfiles %}
<!-- for static content last lecture changes-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/myStyle.css" %}">
  </head>
  <body>
<div class="container">

<h1>This is from index.html in templates folder</h1>
  {{insert_me}}
  <!-- for static content last lecture changes-->
<h1>Some CryptoKnowledge</h1>
</div>
  <img src="{% static "images/coins.jpg" %}" alt="Bitconnnnnnnecctttttttt!!!!!!!!1">
  </body>

</html>
