<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CoinCapInfo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron">
          <h1>Welcome to Coin Cap Info</h1>
          <h3>Go to /allcoins for entire coin list</h3>
          <h3>Go to /singlecoin for digging about a single coin</h3>
          <h3>Go to /submitNewCoin for submitting a new coin </h3>
          <form method="post">
                {% csrf_token %}
                <input type="submit" name="butt123" value = "All Coins">
          </form>
    </div>
    <form method="post">
        {% csrf_token %}
      <label for="btc">Bitcoin</label>
      <input id = "btc" type="radio" name="coin" value="Bitcoin">
      <label for="etc">Ethereum</label>
      <input id = "etc" type="radio" name="coin" value="Ethereum">
      <label for="xrp">Ripple</label>
      <input id = "xrp" type="radio" name="coin" value="Ripple">
      <label for="bch">Bitcoin Cash</label>
      <input id = "bch" type="radio" name="coin" value="Bitcoin Cash">
      <label for="eos">EOS</label>
      <input id = "eos" type="radio" name="coin" value="EOS">
      <input type="submit" name="submit" value="Search">

    </form>
  </body>
</html>
