<!DOCTYPE html>
{% load staticfiles %}
<!-- for static content last lecture changes-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
    <link rel="stylesheet" href="{% static "css/myStyle.css" %}">
  </head>
  <body>
<h1>This is from index.html in templates folder</h1>
  {{insert_me}}
  <!-- for static content last lecture changes-->
  <h1>Some CryptoKnowledge</h1>
  <img src="{% static "images/coins.jpg" %}" alt="Bitconnnnnnnecctttttttt!!!!!!!!1">
  </body>
</html>
